@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");
* {
  font-family: "Poetsen One", sans-serif;
  font-style: normal;
}
.weather__header {
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
}

.weather__form {
  font-size: 60px;
  display: flex;
  align-items: flex-end;
  margin-top: 16px;
  width: 100%;
}

.weather__form label {
  font-size: 20px;
}

.weather__form input {
  height: 40px;
  width: 80vw;
  border: 1px solid gray;
  border-right: none;
  font-size: 20px;
  padding-left: 6px;
}

.weather__form button {
  background-color: white;
  height: 44px;
  width: 10vw;
  border: 1px solid gray;
  border-left: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 0px;
}

.weather__currentResults {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  line-height: 20px;
  margin-top: 20px;
}

.weather__icon_current {
  min-height: 200px;
  min-width: 200px;
  max-height: 200px;
}

.ownLocation {
  width: 90vw;
  height: 44px;
  margin: auto 10px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 0px;
  background-color: #6bcfe3;
}

.ownLocation svg {
  height: 30px;
}

.weather__results__button {
  border: none;
  background-color: white;
  font-size: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.weather__futureResults {
  margin-top: 20px;
}

.weather__currentlyResults {
  margin-top: 20px;
}

.weather__dayButton {
  font-size: 20px;
  padding: 15px 0px;
  width: 120px;
  border-radius: 5px;
  margin-left: 5px;
  margin-top: 20px;
  background-color: #6bcfe3;
}
